# Binaries for programs and plugins
/cherri
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Tests
*.cherri
!/actions/*.cherri
!/tests/*.cherri
/tests/decomp-me.cherri
*_decompiled.plist
*_processed.cherri
!stdlib.cherri
*.prof

# Development
.DS_Store
/.idea/

# Output
*.shortcut
*.plist
*.xml

# Packages
/packages/

# iOS generated output
/.build/ios-cherri-core/
/ios/Cherri.xcodeproj/
/ios/Vendor/
/ios/CherriApp/Resources/PreviewShortcut/
/ios/WebPreview/node_modules/

# Nix
result
